User/__pycache__/
Music/__pycache__/
Discover/__pycache__/
Discover/migrations/__pycache__
Token/__pycache__/
iRiver/__pycache__/
User/__pycache__/models.cpython-311.pyc
User/migrations/__pycache__/
Music/migrations/__pycache__/
Music/sql/__pycache__/
Token/migrations/__pycache__/
User/__pycache__/models.cpython-311.pyc
Music/web_scutter/__pycache__/
